.map {
    display: flex;
    position: relative;
    justify-content: center;
}

.map-title {
    padding: 2%;
    text-align: center;
    font-size: 3rem;
    background-color: rgba(1, 27, 44, 0.5);
    transition: .4s ease-in-out;
    color: #FFF;
    box-shadow: 3px 0 3px rgba(1, 27, 44, 0.5);
}

.map img {
    width: 720px;
    height: auto;
    padding: 50px;
}

.dot {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #ff0000;
    border-radius: 50%;
}

.dot:hover {
    box-shadow: 0 0 15px #FFF;
}

.porto-seguro {
    top: 400px;
    left: 1170px;
}

.ubatuba {
    top: 520px;
    left: 1050px;
}

.florianopolis {
    top: 580px;
    left: 1000px;
}

.modal {
    display: none;
    width: 40%;
    height: 30%;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
}

.modal h1 {
    font-size: 24px;
}

.close {
    font-size: 5rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FFF;
    padding: 3% 10%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    gap: 10px;
}

.form input {
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 50px;
    text-align: center;
}

#btn-register {
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s;
}

#btn-register:hover {
    cursor: pointer;
    background-color: #8fc3ff;
}

#btn-register:active {
    background-color: var(--main-color);
}

@media (max-width: 1440px) {
    .map-title {
        font-size: 2rem;
        padding: 2%;
    }

    .map img {
        width: 70%;
        padding: 20px;
    }

    .porto-seguro {
        top: 550px;
        left: 1070px;
    }
    
    .ubatuba {
        top: 750px;
        left: 900px;
    }
    
    .florianopolis {
        top: 850px;
        left: 820px;
    }

    .modal {
        width: 50%;
        height: 45%;
    }

    .modal h1 {
        font-size: 20px;
    }

    .register {
        padding: 2% 8%;
    }

    .form {
        font-size: 1rem;
        gap: 8px;
    }

    .form input {
        padding: 8px 40px;
    }

    #btn-register {
        font-size: 18px;
    }
}

@media (max-width: 1240px) {

    .porto-seguro {
        top: 30%;
        left: 85%;
    }
    
    .ubatuba {
        top: 50%;
        left: 85%;
    }
    
    .florianopolis {
        top: 70%;
        left: 85%;
    }

    .modal {
        width: 50%;
        height: 45%;
    }

    .modal h1 {
        font-size: 20px;
    }
}


@media (max-width: 1115px) {
    .map-title {
        font-size: 1.5rem;
        padding: 2%;
    }

    .map img {
        width: 60%;
        padding: 15px;
    }    

    .modal {
        width: 50%;
        height: 45%;
    }

    .register {
        padding: 3% 10%;
    }

    .form {
        font-size: 1rem;
        gap: 10px;
    }

    .form input {
        padding: 8px 40px;
    }

    #btn-register {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .map-title {
        font-size: 1.2rem;
        padding: 2%;
    }

    .map img {
        width: 50%;
        padding: 10px;
    }

    .modal {
        width: 50%;
        height: 45%;
    }

    .modal h1 {
        font-size: 16px;
    }

    .register {
        padding: 3% 10%;
    }

    .form {
        font-size: 0.9rem;
        gap: 10px;
    }

    .form input {
        padding: 7px 30px;
    }

    #btn-register {
        font-size: 16px;
    }
}

@media (max-width:550px) {

    .dot {
        width: 30px;
        height: 30px;
    }

}

@media (max-width: 480px) {
    .map-title {
        font-size: 1rem;
        padding: 2%;
    }

    .map img {
        width: 70%;
        padding: 5px;
    }

    .modal {
        width: 80%;
        height: 40%;
    }

    .modal h1 {
        font-size: 14px;
    }

    .register {
        padding: 5% 10%;
    }

    .form {
        font-size: 0.8rem;
        gap: 8px;
    }

    .form input {
        padding: 5px 20px;
    }

    #btn-register {
        font-size: 14px;
    }
}

@media (max-width: 375px) {
    .map-title {
        font-size: 0.9rem;
        padding: 2%;
    }

    .modal h1 {
        font-size: 16px;
    }

    .register {
        padding: 5% 10%;
    }

    .form {
        font-size: 0.7rem;
        gap: 8px;
    }

    .form input {
        padding: 5px 20px;
    }

    #btn-register {
        font-size: 12px;
    }
}

@media (max-width: 325px) {
    .map-title {
        font-size: 0.8rem;
        padding: 2%;
    }

    .modal {
        width: 90%;
        height: 50%;
    }

    .modal h1 {
        font-size: 16px;
    }

    .register {
        padding: 5% 10%;
    }

    .form {
        font-size: 0.6rem;
        gap: 8px;
    }

    .form input {
        padding: 5px 20px;
    }

    #btn-register {
        font-size: 10px;
    }
}