#main-index {
   gap: 40px;
}

.main-title {
   background-color: rgba(0, 24, 47, 0.4);
   box-shadow: 10px 10px 10px rgba(0, 24, 47, 0.5);
}

.main-title h1{
   font-size: 2rem;
}

.pictures {
   color: #FFF;
   text-align: center;
   font-size: 2rem;
}

.slider {
   margin: 0 auto;
   width: 1000px;
   height: 600px;
   overflow: hidden;
}

.slides {
   display: flex;
   width: 400%;
}

.slides input{
   display: none;
}

.slide{
   display: flex;
   flex-direction: column;
   align-items: end;
   width: 25%;
   position: relative;
   transition: 2s;
}

.slide img {
   width: 950px;
}

.img-desc {
   width: 800px;
   font-size: 1.3rem;
   background-color: rgb(255, 255, 255, 0.6);
   border-radius: 10px;
   text-align: center;
   padding: 10px;
}

.manual-navigation{
   position: absolute;
   width: 1000px;
   margin-top: 610px;
   display: flex;
   justify-content: center;
}

.manual-btn{
   border: 2px solid #fff;
   padding: 5px;
   border-radius: 10px;
   cursor: pointer;
   transition: 0.7s;
}

.manual-btn:not(:last-child){
   margin-right: 40px;
}

.manual-btn:hover{
   background-color: #FFF;
}

#radio1:checked ~ .first{
   margin-left: 0;
}
#radio2:checked ~ .first{
   margin-left: -25%;
}
#radio3:checked ~ .first{
   margin-left: -50%;
}
#radio4:checked ~ .first{
   margin-left: -75%;
}

.auto-navigation div{
   border: 2px solid var(--main-color);
   padding: 5px;
   border-radius: 10px;
   cursor: pointer;
   transition: 0.7s;
}

.auto-navigation{
   position: absolute;
   width: 1000px;
   margin-top: 610px;
   display: flex;
   justify-content: center;
}

.auto-navigation div:not(:last-child){
   margin-right: 40px;
}

#radio1:checked ~ .auto-navigation .auto-btn1{
   background-color: #FFF;
}
#radio2:checked ~ .auto-navigation .auto-btn2{
   background-color: #FFF;
}
#radio3:checked ~ .auto-navigation .auto-btn3{
   background-color: #FFF;
}
#radio4:checked ~ .auto-navigation .auto-btn4{
   background-color: #FFF;
}

.description {
   padding-top: 4%;
   font-size: 1rem;
}

.about {
   color: #FFF;
   text-align: center;
   font-size: 1.2rem;
}

.form {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 1.2rem;
}

.form input{
   border:none;
   border-radius: 10px;
   box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
   padding: 10px 50px;
   text-align: center;
}

.send-btn {
   font-size: 20px;
   font-weight: 600;
   border: none;
   margin: 20px;
   padding: 10px 20px;
   border-radius: 50px;
   box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
   opacity: 1;
   transition: 0.3s;
}

.send-btn:hover {
   cursor: pointer;
   background-color: #8fc3ff;
}

.send-btn:active {
   background-color: var(--main-color);
}

#experience {
   cursor: pointer;
}

#areas {
   cursor: pointer;
}

@media (max-width:1010px) {

   .slider {
      margin: 0 auto;
      width: 100%;
      height: 600px;
      overflow: hidden;
   }

   .slide {
      align-items: center;
   }

   .img-desc {
      width: 50%;
   }
   
   .slide img {
      width: 700px;
   }

   .manual-navigation{
      width: 100%;
      margin-top: 500px;
   }

   .auto-navigation{
      width: 100%;
      margin-top: 500px;
   }

   .description{
      padding-top: 0;
   }

}

@media (max-width: 710px) {

   .slider {
      margin: 0 auto;
      width: 100%;
      height: 400px;
      overflow: hidden;
   }

   .slide {
      align-items: center;
   }

   .img-desc {
      font-size: 16px;
      width: 50%;
   }
   
   .slide img {
      width: 500px;
   }

   .manual-navigation{
      width: 100%;
      margin-top: 350px;
   }

   .auto-navigation{
      width: 100%;
      margin-top: 350px;
   }

   .description{
      padding-top: 0;
      font-size: 12px;
   }


}
