
.relacts {
   display: flex;
}

.picture {
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 3%;
}

.relato {
   display: flex;
   color: #FFF;
   gap: 10px;
}

.relato img{
   width: 30%;
}

.relato h1 {
   font-size: 2rem;
}

#rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: "Fredoka", sans-serif;
    background-color: rgb(217, 244, 251, 0.6);
 }
 
 .direitos-autorais {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
 }
 
 .direitos__empresas {
    font-size: 20px;
 }
 
 .direitos__imagens {
    display: flex;
    justify-content: center;
    padding: 3%;
 }
 
 .redes-sociais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3%;
    font-size: 20px;
 }
 
 .img-redes {
    width: 5%;
 }

