
.relacts {
   display: flex;
}

.picture {
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 3%;
}

.relato {
   display: flex;
   color: #FFF;
   gap: 10px;
}

.relato img{
   width: 30%;
}

.relato h1 {
   font-size: 2rem;
}