@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

:root {
   --main-color: #0b80c9;
}

header {
   padding: 0 30px;
}

.logo img {
   width: 11vh;
   transition: 1s;
}

.logo img:hover {
   opacity: 0.5;
}

.header-navigation {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   font-family: "Montserrat", sans-serif;
   font-weight: 400;
   height: 12vh;
   font-size: 1.2rem;
}

.menu-responsivo {
   cursor: pointer;
   display: none;
}

.menu-responsivo div {
   width: 32px;
   height: 2px;
   background: var(--main-color);
   margin: 8px;
}

.nav-listas {
   list-style: none;
   display: flex;
   align-items: center;
   padding: 0;
   margin: 0;
}

.pags{
   letter-spacing: 0.2em;
   margin-left: 2rem;
}

.pags a {
   color: black;
   text-decoration: none;
   transition: 0.3s;
}

.pags a:hover {
   border-bottom: solid 1px var(--main-color);
   padding-bottom: 0.5rem;
}


#main-index {
   background: url("../img/background.jpg") no-repeat center center;
   background-size: cover;
   font-family: "Montserrat", sans-serif;
}

#main-solution, #main-relacts, #main-calendar {
   background: url("../img/background-desfocado.jpg") no-repeat center center;
   background-size: cover;
   font-family: "Montserrat", sans-serif;
}

.title {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2%;
   padding: 2%;
   font-size: 3rem;
   background-color: rgba(1, 27, 44, 0.5);
   transition: .4s ease-in-out;
   color: #FFF;
   box-shadow: 3px 0 3px rgba(1, 27, 44, 0.5);
}

#rodape {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   font-family: "Fredoka", sans-serif;
   background-color: rgb(217, 244, 251, 0.6);
}

.direitos-autorais {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 30%;
}

.direitos__empresas {
   font-size: 20px;
}

.direitos-imagens {
   display: flex;
   justify-content: center;
}

.redes-sociais {
   display: flex;
   flex-direction: column;
   margin-left: 3%;
   font-size: 20px;
}

.img-redes {
   width: 10%;
}

@media (max-width: 800px) {
   .nav-listas {
      position: absolute;
      top: 12vh;
      right: 0;
      width: 30vw;
      height: 20vh;
      border-radius: 0 0 10px 10px;
      background-color: #ffff;
      flex-direction: column;
      align-items: center;
      font-size: 16px;
      opacity: 0;
      transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
      visibility: hidden;
   }

   .nav-listas.nav-list-active {
      opacity: 1;
      visibility: visible;
   }

   .pags {
      margin: 0;
      opacity: 1;
   }

   .menu-responsivo {
      display: block;
      cursor: pointer;
   }

}

