@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

:root {
   --main-color: #0b80c9;
}

header {
   padding: 0 30px;
}

.logo img {
   width: 11vh;
   transition: 1s;
}

.logo img:hover {
   opacity: 0.5;
}

.header-navigation {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   font-family: "Montserrat", sans-serif;
   font-weight: 400;
   height: 12vh;
   font-size: 1.2rem;
}

.nav-list {
   list-style: none;
   display: flex;
   align-items: center;
   padding: 0;
   margin: 0;
}

.pags{
   letter-spacing: 0.2em;
   margin-left: 2rem;
}

.pags a {
   color: black;
   text-decoration: none;
   transition: 0.3s;
}

.pags a:hover {
   border-bottom: solid 1px var(--main-color);
   padding-bottom: 0.5rem;
}

.dropdown-menu {
   display: none;
   padding: 5vh 0;
   gap: 3vh;
   width: 100%;
   background-color: #FFF;
   width: 9vw;
   position: absolute;
}


.dropdown-menu a{
   display: block;
   text-align: center;
}

.dropdown:hover .dropdown-menu{
   display: flex;
   flex-direction: column;
}

main {
   background: url("../img/background.jpg") no-repeat center center;
   background-size: cover;
   font-family: "Montserrat", sans-serif;
}

.title {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2%;
   padding: 2%;
   font-size: 3rem;
   background-color: rgba(1, 27, 44, 0.5);
   transition: .4s ease-in-out;
   color: #FFF;
   box-shadow: 5px 0px 5px rgba(1, 27, 44, 0.5);
}

#rodape {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   font-family: "Fredoka", sans-serif;
   background-color: rgb(217, 244, 251, 0.6);
}

.direitos-autorais {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 30%;
}

.direitos__empresas {
   font-size: 20px;
}

.direitos__imagens {
   display: flex;
   justify-content: center;
   padding: 3%;
}

.redes-sociais {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left: 3%;
   font-size: 20px;
}

.img-redes {
   width: 5%;
}
